<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-list>-->

    <ion-card *ngFor="let item of items" (click)="itemTapped($event, item)">

      <markdown>
        > 我还是习惯

        > 在睡前含一块糖

        > 进去甜甜的梦

        > 带着你的叮嘱

        > 你的斥责

        > 你的味道

        > 早安

        > 孤独小美

        > 格致别趣
        
        > 六点起床第630天 迟到38天
      </markdown>


      <!--<div [innerHTML]="content"></div>-->

      <!--<ion-icon [name]="item.icon" item-start></ion-icon>-->
      <!--{{item.title}}-->
      <!--<div class="item-note" item-end>-->
        <!--{{item.note}}-->
      <!--</div>-->

    </ion-card>
    <!--<button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">-->
      <!--<ion-icon [name]="item.icon" item-start></ion-icon>-->
      <!--{{item.title}}-->
      <!--<div class="item-note" item-end>-->
        <!--{{item.note}}-->
      <!--</div>-->
    <!--</button>-->
  <!--</ion-list>-->
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
