<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-list>-->

    <ion-card *ngFor="let item of items" (click)="itemTapped($event, item)">

      <!--<markdown>-->
        <!--&gt; 我还是习惯-->

        <!--&gt; 在睡前含一块糖-->

        <!--&gt; 进去甜甜的梦-->

        <!--&gt; 带着你的叮嘱-->

        <!--&gt; 你的斥责-->

        <!--&gt; 你的味道-->

        <!--&gt; 早安-->

        <!--&gt; 孤独小美-->

        <!--&gt; 格致别趣-->

        <!--&gt; 六点起床第630天 迟到38天-->
      <!--</markdown>-->


      <!--<div [innerHTML]="content"></div>-->

      <!--<ion-icon [name]="item.icon" item-start></ion-icon>-->
      <!--{{item.title}}-->
      <!--<div class="item-note" item-end>-->
        <!--{{item.note}}-->
      <!--</div>-->

    </ion-card>
    <!--<button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">-->
      <!--<ion-icon [name]="item.icon" item-start></ion-icon>-->
      <!--{{item.title}}-->
      <!--<div class="item-note" item-end>-->
        <!--{{item.note}}-->
      <!--</div>-->
    <!--</button>-->
  <!--</ion-list>-->
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
